name: "PR E2E Setup"

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "release-*"
  pull_request:
  merge_group:

permissions:
  contents: read
  pull-requests: read

jobs:
  compute-tag:
    runs-on: ubuntu-24.04
    outputs:
      tag: ${{ steps.compute-tag.outputs.git_tag }}
      any_changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46
        with:
          since_last_remote_commit: "true"
          files_ignore: |
            .spelling
            README.md
            docs/**
            examples/**

      - name: Compute tag
        id: compute-tag
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        uses: ./.github/actions/compute-tag

  e2e:
    needs: compute-tag
    if: needs.compute-tag.outputs.any_changed == 'true'
    uses: ./.github/workflows/pr-e2e-testing.yaml
    with:
      tag: ${{ needs.compute-tag.outputs.tag }}
      e2e_matrix: >-
        [
          {
            "os_id": "cs9-bootc",
            "backend_type": "helm",
            "label_filter": "sanity && !slow",
            "ginkgo_total_nodes": 4
          },
          {
            "os_id": "cs9-bootc",
            "backend_type": "helm",
            "label_filter": "sanity && slow",
            "ginkgo_total_nodes": 1
          },
          {
            "os_id": "cs10-bootc",
            "backend_type": "helm",
            "label_filter": "sanity && agent",
            "ginkgo_total_nodes": 1
          }
        ]


